<div class="panel panel-default userpages-body">
	<div class="panel panel-heading">
		<h1>Editing pin</h1>
	</div>

	<div class="panel-body">
		<%= render 'form' %>
	</div>

	<div class="panel-footer center">
		<%= link_to pins_path do %>
	   <span class="glyphicon glyphicon-arrow-left"></span> Back |
	  <% end %>
		<%= link_to 'Show pin', @pin %>
	</div>
</div>